{% extends "base.html" %}

{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}

    {% for room in rooms %}
        <h4>{{room.name}} / {{room.price}}원</h4>
    {% endfor %}

    <h5>{{page_count}} 페이지 중 {{page}} 페이지</h5>
    
    <a href="?page=1"><<</a>
    
    {% if page > 10 %}
        <a href="?page={{page_end|add:-10}}"><</a>
    {% endif %}

    {% for page in page_range %}
        {% if page <= page_count%}
            <a href="?page={{page}}">{{page}}</a>
        {% endif %}
    {% endfor %}

    {% if page_end < page_count %}
        <a href="?page={{page_end|add:1}}">></a>
    {% endif %}

    <a href="?page={{page_count}}">>></a>
{% endblock content%}